package $daopackage;

import net.zazn.sc.dao.common.BaseDAO;
import $package.${StringUtil.getFirstUpperCase($tableInfo.clzName)};
import org.springframework.stereotype.Repository;

/**
* Title: <br>
* <p>
    * Description: <br>
    * </p>
* <br>
*
* @since $time
*/
public interface ${StringUtil.getFirstUpperCase($tableInfo.clzName)}DAO extends BaseDAO<${StringUtil.getFirstUpperCase($tableInfo.clzName)}> {
}
