package $package;

#foreach($import in $impotList)
import $import;	
#end

/**
* Title: <br>
* <p>
    * Description: <br>
    * </p>
* <br>
*
* @since $time
*/
public class ${StringUtil.getFirstUpperCase($tableInfo.clzName)} {
##print property
#foreach($columnInfo in $tableInfo.getColumnInfoes() )
	/* $columnInfo.columnComment */
	private $columnInfo.getSimpleJavaType() ${StringUtil.getFirstLowerCase($columnInfo.field)};

#end
##print get/set method
#foreach($columnInfo in $tableInfo.getColumnInfoes() )
	#set($property = ${StringUtil.getFirstLowerCase($columnInfo.field)})
	public void set${StringUtil.getFirstUpperCase($columnInfo.field)}($columnInfo.getSimpleJavaType() $property){
		this.$property =  $property;
	}

	public $columnInfo.javaType get${StringUtil.getFirstUpperCase($columnInfo.field)}(){
		return $property;
	}

#end
}
