package $servicepackage;

import net.zazn.sc.service.common.BaseService;
import $package.${StringUtil.getFirstUpperCase($tableInfo.clzName)};
/**
* Title: <br>
* <p>
    * Description: <br>
    * </p>
* <br>
*
* @since $time
*/
public interface ${StringUtil.getFirstUpperCase($tableInfo.clzName)}Service extends BaseService<${StringUtil.getFirstUpperCase($tableInfo.clzName)}> {
}
